{% extends 'Main/base.html' %}

{% block title %}
    Inicio
{% endblock title %}

{% block content_title %}
    Blog Viaje a Bariloche
{% endblock content_title %}

{% block content %}
    <p style="text-align: center; margin-bottom: 20px;">
        En esta página descubrirás las mejores actividades para hacer en Bariloche, desde paseos en barco hasta senderismo, y mucho más. ¡Disfruta las mejores experiencias con nosotros!
    </p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a href="/blog/post/list" class="btn btn-lg btn-info">Ingresar</a>
    </div>
{% endblock content %}